.Sticky__bar {
  background: #304f47;
  padding: 15px;
}

.StickyBar__logo {
  display: flex;
  float: left;
  gap: 15px;
  padding-left: 80px;
}

.Icons__name {
  color: #fff;
  font-family: Podkova;
  font-size: 13px;
  padding-top: 5px;
  position: relative;
  right: 2%;
}

.StickyBar__icons {
  display: flex;
  gap: 6px;
}

.Circle__icons {
  border: 1.9px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: large;
  left: 75%;
  padding: 2px;
  padding-left: 5px;
  position: relative;
  width: 18px;
}
