.NavBar {
  display: flex;
  gap: 60px;
  padding: 10px;
}

.photo img {
  margin-left: 50px;
  width: 80%;
}

.components {
  display: flex;
  margin-top: 40px;
}

a {
  color: #000;
  font-size: 18px;
  opacity: 0.7;
  padding-left: 15px;
  text-decoration: none;
}

button {
  border-radius: 8px;
  background: #c7923e;
  color: #fff;
  font-size: 16px;
  height: 55px;
  margin-top: 25px;
  margin-left: 30%;
  padding: 5px 10px;
  width: 13%;
}
