.Heading__title {
  font-family: lora;
  padding: 70px;
  text-align: center;
}

h3 {
  color: #c7923e;
  font-size: 32px;
  padding-top: 20px;
}

h4 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.Cards__display {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 50%;
}

.Cards__display img {
  height: 310px;
  width: 350px;
}

.Card {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  height: 580px;
}

.cardItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -10px auto;
  width: 92%;
}

.Description {
  font-family: Mulish;
  font-size: 16px;
  margin-top: -20px;
}

.learnMore {
  background: #c7923e;
  border: none;
  border-radius: 8px;
  width: 117px;
}
