.NavBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0 6px 0;
  width: 97%;
}

.NavBar__items {
  align-items: center;
  display: flex;
  gap: 60px;
}

.Attributes {
  display: flex;
  font-family: "Mulish", sans-serif;
  gap: 25px;
}

a {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5%;
  line-height: 24px;
  opacity: 0.7;
  text-decoration: none;
}

.navBtn {
  background-color: #c7923e;
  border: 1px solid #304f47;
  border-radius: 8px;
  position: relative;
  right: 2%;
  width: 160px;
}
