.Page__image {
  background-image: url('../../../assets/images/lake-kivu.jpeg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.Image__text {
  left: 15%;
  position: absolute;
  top: 362px;
}

.subheading {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  margin-top: -30px;
}

.Arrow__icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 12%;
  position: absolute;
  top: 88%;
  width: 75%;
}

.circle {
  align-items: center;
  border: 6px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 45px;
}

.outLine {
  color: #fff;
  font-size: 40px;
}

.barContainer {
  display: flex;
  justify-content: center;
}

.Horizontal__bar {
  align-items: center;
  background: #304f47;
  border-radius: 8px;
  display: flex;
  height: 90px;
  position: absolute;
  top: 112%;
  width: 70%;
}

.barItems {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 93%;
}

.search {
  color: #9a9ab0;
  cursor: pointer;
  font-size: 23px;
}

.search__icon {
  position: relative;
  right: 7%;
  top: 3%;
}

.Bar__text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Headlines {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.dropDown {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: auto;
}

.headIcons {
  display: flex;
  justify-content: center;
}

.down {
  color: #c7923e;
  cursor: pointer;
  font-size: 16px;
}

.barBtn {
  background: #c7923e;
  border: 1px solid #304f47;
  border-radius: 8px;
  height: 55px;
  width: 160px;
}
